$grey-lighter: #FBFBFB;
$grey-lite: #DCDEE2;
$grey-mid-lite: #F1F1F5;
$grey: #7D8088;
$grey-mid: #8D95A1;
$grey-dark: #323F56;
$purple: #5856D6;
$green: #26B057;
$green-mid: #5ce28c;
$green-mid-lite: #5ce28c;
$green-lite: #EFFDF4;
$yellow: #FFD873;
$red: #FF7676;
$red-lite: #FFF3F5;
$white: #FFFFFF;
